.resume{
    max-width: 850px;

    & > h6{
        font-size: 30px;
        margin: 0;
        padding: 10px;
        /* grid-column: auto / span 3; */
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;

        /* button{
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            transform: translate(10px, 7px);
            cursor: pointer;
            transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transform-origin: left center;

            &:hover{
                scale: 1.2;
            }
        } */
        button{
            background-color: rgb(255, 255, 255);
            color: #000;
            font-size: 26px;
            line-height: 26px;
            padding: 8px 10px 4px;
            margin: 0 0 0 20px;
            border-radius: 5px;
            border: 2px solid #000;
            cursor: pointer;
            text-transform: uppercase;
            /* font-weight: bold; */
            /* letter-spacing: 0.5px; */
            /* font-size: 18px; */
            /* line-height: 18px; */
            /* text-shadow: #000000 0px 2px 5px; */

            transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
            box-shadow: 0px 0px 0px hsl(0,0%,0%,1);

            &:hover{
            box-shadow: 6px -6px 0px rgba(85,63,251,1);
            /* transform: scale(1.1); */
            }
        }
    }
    

    .resumeInner{        
        background-color: #fff;
        color: #000;
        padding: 20px;
        font-size: 16px;
        line-height: 22px;

        .resumeHeader{
            border-bottom: 2px solid #000;
            padding-bottom: 10px;
            margin-bottom: 10px;

            h1{
                font-size: 44px;
                line-height: 44px;
                font-weight: bold;
                text-align: center;
            }
            h2{
                font-size: 28px;
                line-height: 32px;
                padding-bottom: 10px;
                text-align: center;
            }
            h3{
                font-size: 18px;
                line-height: 22px;       
                color: orangered;    
                
                & a{
                    color: orangered;  
                }
            }
        }
        
        .resumeContainer{
            display: flex;

            & > .subHeader{
                min-width: 70px;
                padding: 10px 0;
                flex: 1;
                width: calc(100% / 3 * 1 + 0.0033rem);
            }
            hr{
                border: none;
                width: 2px;
                background-color: orangered;
                padding: 0;
                margin: 0 10px;
            }
            
            .sectionMain{
                padding: 10px 0;
                width: calc(100% / 3 * 2.5 + 0.0033rem);
                border-bottom: 2px solid #000;
            }
            &:first-of-type .sectionMain{
                border: none;
            }
            &:last-of-type .sectionMain{
                border: none;
            }
        }

        .resumeOverview .sectionMain {
            font-size: 14px;
            line-height: 20px;
        }

        .resumeSkills .sectionMain .subCopy{
            font-weight: bold;
            padding-bottom: 10px;
            font-size: 18px;
            line-height: 22px;
        }

        .resumeWork .sectionMain li{
            p.employerHeader{
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }
            ul li.employerJob{
                padding: 5px 0 10px 20px;

                p.subHeader{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;

                    span{
                        font-size: 12px;
                        line-height: 16px;
                        display: inline;
                        font-weight: normal;
                        color: #4b4949;
                    }
                }
                .responsibilityList{
                    padding-left: 20px;
                    font-size: 14px;
                    line-height:18px;
    
                    li{
                        list-style:disc;

                        > ul li{
                            list-style: circle;
                            margin-left: 18px;
                        }
                    }
                }
            }
        }

        .resumeEducation .sectionMain{ 
            > li{
                padding-bottom: 10px;
            }
            p.subHeader{
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
            }
            p.subCopy{
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;

                span{
                    font-size: 12px;
                    line-height: 16px;
                    display: inline;
                    font-weight: normal;
                    color: #4b4949;
                }
            }
            ul.responsibilityList{
                /* padding: 5px 0 5px 20px; */
                padding-left: 40px;
                
                 li{
                    font-size: 14px;
                    line-height:18px;
                    list-style:disc;
                }
            }
        }

        /* .resumeContainer:first .sectionMain{
            padding-top: 20px;
        } */
        /* .resumeContainer:last-of-type .sectionMain{
            border: none;
        } */
    }

    @media (width <= 500px) {
        .resumeInner{        
            padding: 10px;

                .resumeHeader{
                    border-bottom: 2px solid #000;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
        
                    h1{
                        font-size: 24px;
                        line-height: 28px;
                    }
                    h2{
                        font-size: 22px;
                        line-height: 28px;
                        padding-bottom: 10px;
                        text-align: center;
                    }
                    h3{
                        font-size: 14px;
                        line-height: 18px;     
                        color: orangered;    
                        
                        & a{
                            color: orangered;  
                        }
                    }
                }
            }
    }

}


@media print {
    /* Print-specific styles here */
    html, body {
        margin: 0 !important; padding: 0 !important;
      }

      #MainPage, #portfolio, .resume > h6{
        display: none;
      }

        .resumeInner {
            background-color: #fff;
            color: #000;
            padding: 10px;
            font-size: 12px;
            line-height: 18px;

            .resumeHeader{
                border-bottom: 2px solid #000;
                padding-bottom: 10px;
                margin-bottom: 10px;

                h1{ 
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: bold;
                    text-align: center;
                }
            
                h2 {
                    font-size: 24px;
                    line-height: 28px;
                    padding-bottom: 4px;
                    text-align: center;
                }
            
                h3 {
                    font-size: 16px;
                    line-height: 20px;       
                    color: orangered;    
                    
                    & a{
                        color: orangered;  
                    }
                }
            }

            .resumeContainer{
                display: flex;

                & > .subHeader{
                    min-width: 70px;
                    padding: 10px 0;
                    flex: 1;
                    width: calc(100% / 3 * 1 + 0.0033rem);
                }
                hr{
                    border: none;
                    width: 2px;
                    background-color: orangered;
                    padding: 0;
                    margin: 0 10px;
                }
                
                .sectionMain{
                    padding: 10px 0;
                    width: calc(100% / 3 * 2.5 + 0.0033rem);
                    border-bottom: 2px solid #000;
                }
                &:first-of-type .sectionMain{
                    border: none;
                }
                &:last-of-type .sectionMain{
                    border: none;
                }
            }

            .resumeOverview .sectionMain {
                font-size: 10px;
                line-height: 14px;
            }

            .resumeSkills .sectionMain .subCopy{
                font-weight: bold;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 18px;
            }

            .resumeWork .sectionMain li{
                p.employerHeader{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                }
                ul li.employerJob{
                    padding: 5px 0 10px 20px;

                    p.subHeader{
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;

                        span{
                            font-size: 12px;
                            line-height: 16px;
                            display: inline;
                            font-weight: normal;
                            color: #4b4949;
                        }
                    }
                    .responsibilityList{
                        padding-left: 20px;
                        font-size: 12px;
                        line-height:16px;
        
                        li{
                            list-style:disc;

                            > ul li{
                                list-style: circle;
                                margin-left: 18px;
                            }
                        }
                    }
                }
            }

            .resumeEducation .sectionMain{ 
                > li{
                    padding-bottom: 10px;
                }
                p.subHeader{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                }
                p.subCopy{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;

                    span{
                        font-size: 12px;
                        line-height: 16px;
                        display: inline;
                        font-weight: normal;
                        color: #4b4949;
                    }
                }
                ul.responsibilityList{
                    /* padding: 5px 0 5px 20px; */

                    padding-left: 40px;
                    
                    li{
                        font-size: 14px;
                        line-height:18px;
                        list-style:disc;
                    }
                }
            }
        }
    /* } */
  }